<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>审核中</title>
	<style>
		body{
			text-align: center;
			background-color: #66ceff;
			font-size: 20px;
		}
		.photo{
			 position: relative;  top: 250px;
		}
		.words{
			position: relative;  top: 250px;
		}

	</style>
</head>
<body>
	<div class="photo"><img src="images/review.gif" width="650"></div>
	<div class="words">管理员正在审核...</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

</body>
</html>